
.home-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: darksalmon;
}

.home-header {
    display: flex;
    justify-items: center;
    align-items: center;
    min-height: 8%;
    max-height: 8%;
    /*flex: 0.13;*/
    background-color: darkgreen;

    position: fixed;

    left: 0;
    right: 0;

    z-index: 100;
}

.home-main {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex: 1;
    background-color: darkmagenta;
    min-height: 92%;
    max-height: 92%;
    position: relative;
    top: 8%;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    /* Remove this line: 
    flex-wrap: wrap; */
    place-content: flex-start;
}

.home-footer {
    min-height: 8%;
    max-height: 8%;

    background-color: darkgray;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}

.home-left-navbar {
    background-color: #eceff1;
    flex: 1;
    margin-left: 50px;

    height: 80vh;
    width: 15vw;
    /*max-height: 1000px;*/
    /*min-height: 1000px;*/
    overflow: auto;


    /*position: sticky;*/
    /*top:0.1px;*/
}

.fixed-home-left-navbar{
    flex: 1;
    top: 13.5vh;
    position: fixed;
    z-index: 1200;
}

.home-article-navigation{
    width: 100%;
    height: 50px;
    background-color: #82008b;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-right-article {
    background-color: darkorange;
    width: 16vw;
    height: 70vh;
    margin-top: 30%;
    margin-right: 50px;
    position: sticky; /* Make it sticky */
    top: 50px; /* Align with your el-affix :offset value */
}

.main-content-area {
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin-left: 20%; /* To account for the fixed left navbar */
}

/* Update home-article-list to fit within the new layout */
.home-article-list {
    width: calc(100% - 18vw); /* Adjust based on the width of your right sidebar plus margins */
    margin-left: 0; /* Remove the margin since we're using the parent container for positioning */
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: start;
    background-color: darkslategrey;
}












/*.home-rightMain {*/
/*    background-color: darkmagenta;*/
/*    grid-area: home-rightMain;*/
/*}*/
