.home-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: var(--bg-rgba-35-38-40-0p8);
}

.home-header {
    display: flex;
    justify-items: center;
    align-items: center;
    min-height: 8%;
    max-height: 8%;
    /*flex: 0.13;*/
    background-color: var(--bg-rgba-35-38-40-0p8);

    position: fixed;

    left: 0;
    right: 0;

    z-index: 100;

    /* 下方底線 */
    border-bottom: 0.5px solid  var(--header-border-bottom);
}

.mobile-menu-bar {
    margin-top: 8vh;
    background-color: var(--bg-rgba-35-38-40-0p8);
    padding: 10px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 90;
}

.home-main {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex: 1;
    background-color: var(--bg-page);
    min-height: 92%;
    max-height: 92%;
    position: relative;
    top: 8%;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    /*  flex-wrap: wrap; */
    place-content: flex-start;
}



.home-footer {
    min-height: 8%;
    max-height: 8%;

    background-color: var(--bg-name-darkgray);
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}

.home-left-navbar {
    background-color: var(--bg-rgb-42-45-47);
    flex: 1;
    margin-left: 50px;

    height: 80vh;
    width: 15vw;
    /*max-height: 1000px;*/
    /*min-height: 1000px;*/
    overflow: auto;


    /*position: sticky;*/
    /*top:0.1px;*/
}

.fixed-home-left-navbar {
    flex: 1;
    top: 13.5vh;
    position: fixed;
    z-index: 1200;
}

.home-article-navigation {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-right-article {
    background-color: var(--bg-rgb-42-45-47);
    width: 16vw;
    height: 70vh;
    margin-top: 30%;
    margin-right: 50px;
    position: sticky;

    top: 50px;

}

.home-article-header {
    height: auto;
    /* 將寬度設定為與文章列表一致 */
    width: 100%;

    margin-bottom: 2rem;
}

.home-article-header-main {
    /* margin-right: 15vw;
    margin-left: 3vw; */
    padding: 1rem;
    background-color: var(--bg-page1);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}



.home-article-header-main-tags {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 2rem;
}

.home-article-header-main-nav-pills {
    display: flex;
    gap: 2rem;
    color: #fff;
    align-items: center;
}

.home-article-header-main-controls {
    display: flex;
    gap: 2rem;
}





.main-content-area {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    margin-left: 20%;


}


.home-article-list {
    width: calc(100% - 18vw);
    
    margin-left: 0;
    
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: start;
    background-color: var(--bg-page);
}


.scroll-info {
    color: #ffffff;
}

.scroll-info h3 {
    margin-bottom: 10px;
    font-size: 16px;
}

.scroll-info p {
    margin: 5px 0;
    font-size: 14px;
}

.main-content-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 959px) {
    .home-main {
        top: 14vh;
        height: 86vh;
    }

    .main-content-area {
        margin-left: 0;
        width: 100%;
    }

    .home-article-list {
        width: 100%;
    }

    .home-article-header-main {
        margin-left: 0;
        margin-right: 0;
    }

    .home-article-list-right {
        display: none;
    }

    .fixed-home-left-navbar {
        top: 14vh;
        height: 86vh;
        background-color: var(--bg-rgba-35-38-40-0p95);
        width: 250px;
    }

    .home-left-navbar {
        width: 100% !important;
        margin-left: 0 !important;
        height: 100%;
    }

    .mobile-menu-overlay {
        position: fixed;
        top: 14vh;
        left: 0;
        width: 100vw;
        height: 86vh;
        background-color: var(--bg-rgba-0-0-0-0p3);
        backdrop-filter: blur(5px);
        z-index: 1100;

    }
}
