@font-face{
    font-family: "Noto Sans TC";
    src: url('./NotoSansTC-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}
/* @font-face {
    font-family: "Noto Sans TC Thin";
    src: url('./NotoSansTC-VariableFont_wght.ttf');
} */